body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
  }
  
  h1 {
    font-size: 1.7em;
    color: #333;
    margin-bottom: 25px;
  }
  
  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 1em;
  }
  
  button {
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #9e9e9e;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1em;
  }
  
  button:hover {
    background-color: #4b504c;
  }
  
  #resultado {
    margin-top: 15px;
    font-size: 1.1em;
    color: #333;
  }
  